.loader-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%,-50%);
}
.loader{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  letter-spacing: 3px;
  &::before{
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: ring 1s linear infinite;
  }
}


.loader-small{
  width: 20px;
  height: 20px;
  border: 3px solid white;
  margin-left: 5px;
  border-radius: 50%;
  border-left: 3px solid black;
  animation: ring-small 1s linear infinite;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 20px #e91e63;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 20px yellow;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 20px #e91e63;
  }
}

@keyframes ring-small {
  100%{
    transform: rotate(360deg);
  }
}