.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fixed-body {
  // ▼ break slider resize with window
  //position: fixed;
  //overflow-y: scroll;
  overflow: hidden;
  height: 100%;
}
svg {
  pointer-events: none;
}

.alert {
  top: 0;
  position: fixed;
  padding: 10px 0;
  background: #e91e63;
  width: 100%;
  z-index: 9;
  &-text {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-close-btn {
    padding: 5px 10px;
    font-size: 20px;
  }
}
