@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/thumbs/thumbs";
@import "components/loader/loader";
// vars
$gray: #e6e6e6;
$grayLight: #f8f8f8;
$grayDark: #9c9c9c;
@import "components/modals/modals";
// mixins
@mixin limitMaxRows($rows: 4) {
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin scrollBar($widthOrHeight: "width", $size: 3px) {
  &::-webkit-scrollbar {
    @if $widthOrHeight == "width" {
      width: $size;
    } @else if($widthOrHeight == "height") {
      height: $size;
    }
  }
  &::-webkit-scrollbar-track {
    background: $gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8d8b8b;
  }
}

// common
.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fixed-body {
  // ▼ break slider resize with window
  //position: fixed;
  //overflow-y: scroll;
  overflow: hidden;
  height: 100%;
}
svg {
  pointer-events: none;
}

.alert {
  top: 0;
  position: fixed;
  padding: 10px 0;
  background: #e91e63;
  width: 100%;
  z-index: 9;
  &-text {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-close-btn {
    padding: 5px 10px;
    font-size: 20px;
  }
}

// </>common

// =====HEADER=====
.header {
  box-shadow: 2px 2px 0 2px $grayLight;
  // fix scroll for cart counter
  overflow: hidden;
  position: relative;
}
.header-contacts-outer {
  background: #121212;
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  padding: 6px 0;
}
.header-contacts-inner {
  display: flex;
  align-items: flex-end;
  svg:not(.social-icons__item) {
    margin-right: 10px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item:last-child {
    margin-left: auto;
  }
}
.social-icons__item {
  margin-left: 12px;
}
.header-menu-wrapper {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 360px) {
    flex-direction: column;
    gap: 20px;
  }
}
.header-logo {
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
}
.header-nav {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 585px;
  width: 100%;
  margin: 0 10px;
  &__item--active {
    font-weight: bold;
  }
  @media screen and (max-width: 950px) {
    display: none;
  }
}
.header-controls {
  display: flex;
  justify-content: space-between;
  max-width: 164px;
  width: 100%;
  svg {
    width: 18px;
    height: 18px;
  }
  &__item {
    position: relative;
    display: flex;
    cursor: pointer;
  }
  .header-cart-counter {
    position: absolute;
    top: -7px;
    right: -11px;
    font-size: 9px;
    color: white;
    background: #121212;
    padding: 5px 5px 2px;
    border-radius: 50%;
    line-height: 1;
    font-weight: bold;
    border: 2px solid white;
  }
}
// --------------Burger-----------------------
.burger-btn {
  width: 20px;
  display: none;
  &__icon {
    height: 2px;
    width: 100%;
    background: black;
    position: relative;
    &::before,
    &::after {
      content: " ";
      height: 2px;
      left: 0;
      background: black;
      width: 100%;
      position: absolute;
    }
    &::before {
      top: -5px;
    }
    &::after {
      top: 5px;
    }
  }
  @media screen and (max-width: 950px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.burger-btn--active {
  .burger-btn__icon {
    height: 0;
    &::before {
      transform: rotate(45deg);
      top: 0;
      transition: 0.3s;
    }
    &::after {
      transform: rotate(-45deg);
      top: 0;
      transition: 0.3s;
    }
  }
}

.burger-menu {
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  width: 100%;
  z-index: 99;
  left: -100%;
  position: fixed;
  transition: 0.3s;
  overflow: auto;
  bottom: 0;
  &-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.burger-menu--active {
  left: 0;
  transition: 0.3s;
}
.burger-menu-nav__item--active {
  font-weight: bold;
}

// --------------------------CART---------------------------------------

.cart-outer {
  background: rgba(18, 18, 18, 0.7);
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.cart-inner {
  max-width: 400px;
  width: 100%;
  background: white;
  position: fixed;
  right: -400px;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  &__header {
    background: black;
    color: white;
    padding: 13px 24px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.06em;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .cart-btn-close {
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: auto;
    &::before,
    &::after {
      content: " ";
      height: 1px;
      background: white;
      width: 100%;
      position: absolute;
      left: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__content {
    padding: 20px 24px 84px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.cart-steps {
  font-weight: 400;
  font-size: 15px;
  color: $gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  &__item {
    color: $gray;
  }
  &__item--active {
    color: black;
  }
}
.cart-products-list {
  //max-height: 450px;
  overflow-y: auto;
  &__item {
    display: flex;
    padding: 12px 0;
    border-bottom: 2px solid $gray;
    &-img {
      width: 83px;
      height: 104px;
      margin-right: 16px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
.cart-product-name {
  font-size: 14px;
  color: rgba(18, 18, 18, 0.6);
}
.cart-product-params {
  font-weight: 600;
  font-size: 12px;
  margin-top: 4px;
}
.cart-product-controls {
  display: flex;
  margin-top: auto;
  //justify-content: space-between;
  align-items: center;
}

.cart-product-controls__counter {
  display: flex;
  background: $grayLight;
  &-button {
    padding: 9px 14px;
    &:hover {
      background: $gray;
    }
  }
  &-value {
    padding: 9px 10px;
    font-size: 14px;
    line-height: 1;
  }
  &-button--minus {
    position: relative;
    &:before {
      content: " ";
      width: 9px;
      height: 1px;
      background: rgba(18, 18, 18, 0.6);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-button--plus {
    position: relative;
    &:before,
    &:after {
      content: " ";
      width: 9px;
      height: 1px;
      background: rgba(18, 18, 18, 0.6);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      transform: translateX(-50%) rotate(90deg);
    }
  }
}
.cart-product-controls__price {
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
  margin-right: auto;
}
.cart-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart-products-total-price {
  margin-top: auto;
  margin-bottom: 26px;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding-top: 10px;
  span {
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
  }
}
.cart-form-submit-btn {
  background: black;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.06em;
  padding: 16px 0;
  &:hover {
    background: $gray;
    color: black;
  }
  &:active {
    background: $grayDark;
    color: rgba(255, 255, 255, 0.9);
  }
}
.cart-form-view-cart-btn {
  @extend .cart-form-submit-btn;
  background: $grayLight;
  color: black;
  margin-top: 12px;
}

.cart-empty-text {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  max-width: 150px;
  margin: 60px auto;
  line-height: 150%;
}
.cart-btn-back {
  @extend .cart-form-submit-btn;
  margin-top: auto;
}
.cart--active {
  width: auto;
  .cart-inner {
    right: 0;
    transition: 0.5s;
  }
}

// --------------------------------ORDER-FORM-------------------------
.order-info-wrapper {
  overflow-y: auto;
  @include scrollBar();
  padding-right: 4px;
}
.order-info-list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  &__text {
    padding-bottom: 12px;
    border-bottom: 2px solid $grayLight;
  }
  &__item {
    padding: 12px 0;
    border-bottom: 2px solid $grayLight;
    input {
      margin-right: 15px;
    }
  }
}
.order-info-title {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.order-info-input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  padding: 15px;
  border: none;
  background: $grayLight;
  margin-bottom: 40px;
  &:focus {
    outline: transparent;
  }
}
.radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  outline: none;
  &:checked {
    background: black;
    border: 1px solid black;
    box-shadow: inset 0 0 0 3px white;
  }
}
.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
  &:checked {
    background: url("../public/mark-V.svg") no-repeat center;
  }
}
.order-info-group-input {
  display: flex;
  gap: 8px;
  input {
    margin-bottom: 0;
  }
  margin-bottom: 40px;
  &__password {
    width: 100%;
    display: flex;
  }
  .password-eye {
    background: $grayLight;
    padding-right: 15px;
  }
}
.order-info-label-ch {
  font-size: 14px;
  display: flex;
  span {
    margin-left: 15px;
  }
}

.custom-select-container {
  margin-bottom: 40px;
  .custom-select__control {
    border: none;
    border-radius: 0;
    background: $grayLight;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0;
    &--menu-is-open {
      .custom-select__dropdown-indicator {
        transform: rotate(180deg);
      }
    }
    .custom-select__input-container {
      //padding: 0;
    }
  }
  .custom-select__indicator-separator {
    display: none;
  }
  // ---options list
  .custom-select__menu {
    box-shadow: 0 0 5px 2px $gray;
    box-sizing: border-box;
    border-radius: 0;
    margin: 5px auto;
    position: relative;
    max-width: 97%;
    @include scrollBar();

    .custom-select__option {
      font-weight: 500;
      font-size: 14px;
    }
  }
}

// =====</>HEADER=====

// =====MAIN-PROMO=====

.main-promo-outer {
  padding: 32px 0;
}

.main-promo-inner {
  min-height: 490px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  &--left,
  &--right {
    max-width: 540px;
    width: 100%;
    display: flex;
  }
  .main-promo-inner--left {
    text-transform: uppercase;
  }
  .main-promo-inner--right {
    flex-wrap: wrap;
    // ↓ helps to set manual height with gap, but overflows
    //align-content: flex-start;
    gap: 30px;
    justify-content: center;
  }
  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.06em;
      background: white;
      padding: 13px 24px;
      line-height: 1;
    }
    @media screen and (max-width: 576px) {
      flex-grow: 1;
    }
  }
  &__category:nth-child(1) {
    flex-basis: 255px;
    background: url("./components/promo/images/women.jpg") center no-repeat;
    background-size: cover;
  }
  &__category:nth-child(2) {
    flex-basis: 255px;
    background: url("./components/promo/images/men.jpg") center no-repeat;
    background-size: cover;
  }
  &__category:nth-child(3) {
    flex-basis: 255px;

    flex-grow: 1;
    background: url("./components/promo/images/accessor.jpg") center no-repeat;
    background-size: cover;
  }
}

//promo-slider

.slider {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.slider-banner {
  background: white;
  padding: 24px 32px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__header {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-bottom: 14px;
    color: rgba(18, 18, 18, 0.4);
  }
  &__text {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.06em;
  }
}
.slider-button {
  background: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  &--left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &--right {
    transform: translateY(-50%) rotate(180deg);
    top: 50%;
    right: 10px;
  }
  svg {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
}
.slider-button--disabled {
  opacity: 0.4;
}
.slider-button--top {
  @extend .slider-button;
  transform: rotate(90deg);
  position: relative;
}
.slider-button--bottom {
  @extend .slider-button;
  position: relative;
  z-index: 8;
  transform: rotate(-90deg);
  margin-left: 14px;
}

// ===============slider-nav-img===================
.slider-aside-wrapper {
  max-width: 94px;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 450px) {
    max-width: 100%;
  }
}
.slider-aside-nav {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 450px) {
    display: none;
  }
}
.slider-aside {
  height: 520px;
  @media screen and (max-width: 450px) {
    height: auto;
    img {
      object-fit: contain;
    }
  }
  margin-top: 8px;
  &__image-wrapper {
    max-width: 94px;
    max-height: 114px;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__item {
    opacity: 0.5;
    &--active {
      opacity: 1;
    }
  }
}

// =====</>MAIN-PROMO=====

// =====PROMO-DELIVERY=====

.promo-delivery-outer {
  padding-bottom: 30px;
  box-shadow: 2px 2px 0 2px $grayLight;
}
.promo-delivery-inner {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 400px) {
    flex-wrap: wrap;
  }
}
.promo-delivery-column {
  display: flex;
  align-items: center;
  svg {
    width: 30px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 13px;
    &-header {
      letter-spacing: 0.06em;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 6px;
      //line-height: 13px;
    }
    &-text {
      color: rgba(18, 18, 18, 0.9);
      //line-height: 22px;
    }
  }
}

// =====</>PROMO-DELIVERY=====

// =====PROMO-PRODUCTS=====
.promo-products-outer {
  margin-top: 96px;
}
.promo-products-inner {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  &-header {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.06em;
  }
  &-filters {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;

    &__radio {
      appearance: none;
      &:checked + span {
        color: black;
      }
    }
    &__label {
      margin-left: 32px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.06em;
      color: rgba(18, 18, 18, 0.6);
    }
  }
}

.promo-products-link-button {
  margin-top: 48px;
  width: 100%;
  padding: 16px 0;
  text-transform: uppercase;
  font-family: Spartan, sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.06em;
  background: $grayLight;
  border: none;
  cursor: pointer;
}
// =====</>PROMO-PRODUCTS=====

// =====PRODUCTS=====
.products-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  &-card {
    display: block;
    font-size: 14px;
    position: relative;
    max-width: 255px;
  }
  &-card__discount {
    position: absolute;
    font-size: 12px;
    color: white;
    background: #e91e63;
    padding: 9px 8px;
    font-weight: bold;
  }
  &-card__image {
    //max-width: 255px;
    //width: 100%;
    //max-height: 318px;
    //height: 100%;
    width: 255px;
    height: 318px;
    img {
      //display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-card__title {
    color: rgba(18, 18, 18, 0.6);
    margin-top: 16px;
    @include limitMaxRows(1);
  }
  &-card__price {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 12px;
    &--old {
      font-size: 12px;
      text-decoration: line-through;
      margin-left: 4px;
      color: rgba(18, 18, 18, 0.4);
    }
  }
  &-card__rate {
    //display: flex;
    //align-items: flex-end;
    margin-left: auto;
  }
}

.stars__item {
  fill: $gray;
  width: 10px;
  height: 10px;
  &--gold {
    fill: #f0cc84;
  }
}

.products-controls-wrapper {
  margin: 38px 0;
  display: flex;
  align-items: center;
}
.products-controls-button {
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.06em;
  cursor: pointer;

  span {
    margin-right: 18px;
  }
  &:nth-child(2) {
    margin-left: auto;
    margin-right: 32px;
  }
}
.filters-control {
  opacity: 0.6;
}
.filters-control--active {
  opacity: 1;
  svg {
    visibility: hidden;
  }
  span {
    position: relative;
    &::before,
    &::after {
      content: " ";
      height: 2px;
      left: 0;
      background: black;
      width: 100%;
      position: absolute;
    }
    &::before {
      transform: rotate(45deg);
      top: 10px;
    }
    &::after {
      transform: rotate(-45deg);
      top: 10px;
    }
  }
}
.display-switcher {
  svg {
    opacity: 0.6;
  }
  input {
    appearance: none;
    &:checked + svg {
      opacity: 1;
    }
  }
}

//--------products-filters------------------------------
.products-filters-wrapper {
  background: $grayLight;
  //padding: 25px 40px;
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  overflow-x: auto;
  @include scrollBar("height");
}
.products-filters-wrapper--active {
  max-height: 350px;
  padding: 25px 40px;
  transition: 0.5s;
}
.products-filters-column-wrapper {
  max-width: 237px;
  width: 100%;
  min-width: 120px;
}
.products-filters-column-header {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.06em;
}
.products-filters-column {
  list-style: none;
  max-height: 248px;
  overflow-y: auto;
  &__item {
    font-size: 13px;
    color: rgba(18, 18, 18, 0.8);
    display: flex;
    margin-top: 16px;
    &-label {
      margin-left: 8px;
    }
  }
  @include scrollBar("width");
}

.products-filters-description {
  display: flex;
  margin-bottom: 32px;
  gap: 10px 20px;
  flex-wrap: wrap;
  font-size: 14px;
  color: rgba(18, 18, 18, 0.6);
  &__result {
    font-weight: bold;
    color: black;
  }
}

// =====</>PRODUCTS=====

//=====PRODUCT-PROFILE=====
.product-profile-outer {
  margin-top: 32px;
}
.product-profile-inner {
  display: flex;
  gap: 30px;
  //justify-content: center;
  @media screen and (max-width: 1010px) {
    flex-wrap: wrap;
  }
}
// -----left--------
//.product-profile-left {
//  display: flex;
//}

//--------------slider-product--------------------
.product-profile-slider {
  max-height: 560px;
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  .slider {
    max-width: 448px;
    margin: 0;
  }
  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

//------</>left--------

//------right--------
.product-profile-right {
  max-width: 522px;
  width: 100%;
  @media screen and (max-width: 1010px) {
    max-width: 100%;
  }
}
.product-profile-colors__header,
.product-profile-sizes__header {
  color: rgba(18, 18, 18, 0.6);
  letter-spacing: 0.06em;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 16px;
  span {
    color: black;
    letter-spacing: initial;
  }
}
.product-profile-colors__images-wrapper {
  display: flex;
}
.product-profile-colors__img {
  max-width: 64px;
  max-height: 64px;
  position: relative;
  margin-right: 16px;
  input {
    appearance: none;
    &:checked + label > img {
      box-shadow: 0 0 0 2px black;
    }
  }
  label {
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.product-profile-sizes {
  margin-top: 32px;
}
.product-profile-sizes__variants-wrapper {
  display: flex;
}
.product-profile-sizes__variant {
  margin-right: 16px;
  background: $grayLight;
  //width: 40px;
  //height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  //overflow: hidden;
  font-weight: 600;
  font-size: 12px;
  color: rgba(18, 18, 18, 0.7);
  line-height: 13px;
  input {
    appearance: none;
    &:checked + label {
      box-shadow: 0 0 0 2px black;
    }
  }
  label {
    cursor: pointer;
    padding: 12px;
  }
}
.product-profile-sizes__guide {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 17px;
  margin-bottom: 37px;
  span {
    margin-left: 8px;
  }
}
.product-profile-divider {
  position: relative;
  height: 2px;
  &::after {
    content: " ";
    height: 2px;
    background: $gray;
    width: 100%;
    position: absolute;
  }
}
.product-profile-controls {
  display: flex;
  align-items: center;
  margin: 32px 0;
  &__price {
    font-weight: bold;
    font-size: 22px;
    margin-right: 24px;
  }
  &__cart {
    background: black;
    color: rgba(255, 255, 255, 0.9);
    padding: 17px 24px;
    letter-spacing: 0.06em;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background: $gray;
      color: black;
    }
    &:active {
      background: $grayDark;
      color: rgba(255, 255, 255, 0.9);
    }
  }
  &__like,
  &__compare {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
  }
}
.product-profile-delivery {
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.6;
  &__item {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
.product-profile-cards {
  margin-bottom: 32px;
  &-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    position: relative;
    overflow: hidden;
    &::after {
      @extend .product-profile-divider;
      margin-left: 24px;
      top: 50%;
      transform: translate(0, -150%);
    }
  }
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      margin-top: 23px;
    }
  }
}
.product-profile-description {
  margin: 32px 0;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.06em;
  opacity: 0.6;
}
.product-profile-info {
  margin: 32px 0;
  &__header {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    &:not(:nth-child(1)) {
      margin-top: 12px;
    }
    span {
      font-weight: normal;
      opacity: 0.6;
    }
  }
}
.product-profile-reviews {
  margin: 32px 0;
  &__header {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    margin-bottom: 32px;
  }
  &__rate-wrapper {
    display: flex;
    margin-bottom: 24px;
  }
  &__rate-stars {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    color: rgba(18, 18, 18, 0.6);
    svg {
      width: 16px;
      height: 16px;
    }
    span {
      margin-left: 11px;
    }
  }
  &__rate-button {
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 9px;
    }
  }
  &__content {
    max-height: 800px;
    overflow-y: auto;
    @include scrollBar("width");
  }
}

.product-profile-review {
  font-size: 14px;
  &:not(:first-child) {
    margin-top: 48px;
  }
  &__header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  &__text {
    opacity: 0.8;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}
//========slider-related======================
.product-profile-related-outer {
  margin: 104px 0 96px;
}
.product-profile-related-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    &__header {
      margin-bottom: 20px;
    }
  }
  &__header {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.06em;
  }
  .slider-button {
    position: relative;
  }
}
.slider-related {
  &__item {
    .products-inner-card {
      margin: 0 auto;
    }
  }
}

.slider-related-button {
  @extend .slider-button;
  position: relative;
  &--next {
    transform: rotate(180deg);
    margin-left: 16px;
  }
}
//------</>right--------

//=====</>PRODUCT-PROFILE=====

// =====PAGINATION=====
.pagination {
  font-size: 24px;
  padding: 50px;
  text-align: center;
}
// =====</>PAGINATION=====

// =====PROMO-OFFERS=====
.promo-offers-outer {
  padding: 96px 0;
}

.promo-offers-inner {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      background: url("./components/promo/images/banner2.jpg");
    }
    &:last-child {
      background: url("./components/promo/images/banner3.jpg");
    }
  }
}

.promo-offers-banner {
  background: white;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  &__header {
    font-size: 12px;
    color: rgba(18, 18, 18, 0.6);
    margin-bottom: 8px;
  }

  span {
    color: #e91e63;
  }
}

// =====</>PROMO-OFFERS=====

// =====PROMO-SUBSCRIBE=====

.promo-subscribe-outer {
  background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
  padding: 60px 0;
  overflow: hidden;
}
.promo-subscribe-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo-subscribe-form {
  position: relative;
  background: white;
  padding: 80px 96px 96px;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 532px;
  width: 100%;
  @media screen and (max-width: 550px) {
    padding: 80px 40px 96px;
  }
  &__header {
    font-size: 12px;
    color: rgba(18, 18, 18, 0.4);
  }
  &__text {
    font-size: 26px;
    line-height: 36px;
    margin-top: 16px;
    margin-bottom: 32px;
    span {
      color: #e91e63;
    }
  }
  &__input {
    background: $grayLight;
    font-weight: 500;
    font-size: 16px;
    font-family: "Spartan", sans-serif;
    padding: 22px 0;
    text-align: center;
    border: none;
  }
  &__button {
    @extend .promo-subscribe-form__input;
    color: white;
    background: black;
    cursor: pointer;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    //&:disabled {
    //  background: $gray;
    //}
  }
  &__message {
    font-size: 12px;
    text-transform: lowercase;
    margin-top: 3px;
    &--error {
      color: #e91e63;
    }
    &--success {
      color: darkolivegreen;
    }
  }

  &__img1 {
    position: absolute;
    top: -25px;
    left: -260px;
  }
  &__img2 {
    position: absolute;
    right: -200px;
    top: -15px;
  }
  @media screen and (max-width: 920px) {
    &__img1,
    &__img2 {
      display: none;
    }
  }
}
// =====</>PROMO-SUBSCRIBE=====

// =====PROMO-BLOG=====
.promo-blog-outer {
  margin-top: 96px;
  margin-bottom: 44px;
}
.promo-blog-inner {
  display: flex;
  margin-bottom: 48px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-items: center;
  &__header {
    font-weight: 600;
    font-size: 22px;
  }
  &__link {
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
  }
}
.posts-inner {
  display: flex;
  gap: 30px;
  justify-content: center;

  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
  }
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      max-width: 350px;
      max-height: 276px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__preview {
      background: white;
      max-width: 302px;
      padding: 24px 16px 52px;
      margin-top: -56px;
      z-index: 2;

      &-header {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
      &-text {
        font-size: 14px;
        margin-top: 12px;
        color: rgba(18, 18, 18, 0.8);
        @include limitMaxRows();
      }
    }
  }
}

// =====</>PROMO-BLOG=====

// =====TOP-INFO=====
.top-info {
  background: $grayLight;
  padding-top: 7px;
  &__breadcrumbs {
    display: flex;
    font-size: 11px;
    color: rgba(18, 18, 18, 0.6);
    a:last-of-type {
      color: black;
    }
    @media screen and (max-width: 380px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__share {
    margin-left: auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 380px) {
      margin-left: initial;
      margin-top: 20px;
    }
    span {
      margin-right: 10px;
      opacity: 0.6;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 24px;
    &--big {
      padding-bottom: 0;
      text-transform: initial;
    }
  }
}
.top-info-product-outer {
  background: $grayLight;
  padding-bottom: 6px;
  padding-top: 4px;
}
.top-info-product-inner {
  display: flex;
  font-size: 11px;
  color: rgba(18, 18, 18, 0.6);
  @media screen and (max-width: 380px) {
    flex-direction: column;
    align-items: center;
  }
  &__rate {
    display: flex;
    margin-right: auto;
    @media screen and (max-width: 380px) {
      margin-right: initial;
    }
    span {
      margin-left: 8px;
    }
  }
  &__text {
    margin-left: 24px;
    span {
      font-weight: bold;
      color: black;
    }
  }
}

// =====</>TOP-INFO=====

//======FOOTER======
.footer {
  // fix to bottom
  margin-top: auto;
}
.footer-intouch-outer {
  padding: 12px 0;
  background: #121212;
  font-size: 12px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.footer-intouch-inner {
  display: flex;
  align-items: center;
}
.footer-intouch-form {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 520px;
  width: 100%;
  &__input {
    color: white;
    font-weight: 500;
    font-size: 13px;
    padding: 7px 16px;
    border: none;
    width: 100%;
    font-family: Spartan, sans-serif;
    background: rgba(255, 255, 255, 0.2);
  }
  &__button {
    background: none;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding: 7px 24px;
    flex-shrink: 0;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    //&:disabled {
    //  background: $gray;
    //}
  }
}
.footer-intouch-social {
  margin-left: auto;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-wrap: wrap;
  font-size: 12px;
  &-column {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    &__link {
      margin-top: 20px;
      color: rgba(18, 18, 18, 0.8);
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }
}

.footer-copyrights-outer {
  background: $grayLight;
}
.footer-copyrights-inner {
  font-size: 11px;
  display: flex;
  padding: 12px 0;
  justify-content: space-between;
  align-items: center;
  &-cards {
    display: flex;
    flex-wrap: wrap;
    img:not(:last-child) {
      margin-right: 12px;
    }
    img {
      filter: grayscale(100%);
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}
//======</>FOOTER======
